.colorpicker * {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.colorpicker {display:none;width:385px;}
.colorpicker:after {content:'';display:block;clear:both;}
.colorpicker_color {position:relative;float:left;margin-right:4px;width:257px;height:257px;background:#f00;overflow:hidden;cursor:move;border:1px solid #333;/* box-shadow:0 0 0 1px #000; */}
.colorpicker_color > div {position:absolute;top:0;left:0;width:100%;height:100%;background-image:url(../images/colorpicker_overlay.png);background-position:0 0;background-size:100% 100%;background-repeat:no-repeat;}
.colorpicker_color > div > div {position:absolute;top:0;left:0;margin:-17px 0 0 -17px;width:34px;height:34px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 2px #000;}
.colorpicker_hue {position:relative;float:left;margin-right:10px;width:30px;height:257px;border:1px solid #333;background-color:#f00;background-image:url(../images/slider.png);background-repeat:no-repeat;background-size:100% 100%;background-position:center center;overflow:hidden;cursor:n-resize;/* box-shadow:0 0 0 1px #000; */}
.colorpicker_hue div {position:absolute;left:50%;margin:-13px 0 0 -13px;width:26px;height:26px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 2px #000;}
.colorpicker_new_color {float:left;margin-right:4px;width:40px;height:35px;border:1px solid #333;}
.colorpicker_current_color {float:left;width:40px;height:35px;border:1px solid #333;}
.colorpicker input {width:70px;height:30px;font-size:16px;line-height:24px;letter-spacing:-0.05em;text-align:center;text-transform:uppercase;border:1px solid #333;-webkit-user-select:auto;-khtml-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto;}
.colorpicker_hex {float:left;margin-top:10px;width:84px;}
.colorpicker_hex:before {content:"#";display:inline-block;padding:4px 0 2px;width:14px;font-size:16px;line-height:24px;color:#333;text-align:left;vertical-align:top;}
.colorpicker_hex input {width:70px;height:30px;text-align:center;vertical-align:middle;}
.colorpicker_field {display:block;float:left;}
.colorpicker_field:before {display:inline-block;padding:4px 0 2px;width:14px;font-size:16px;line-height:24px;color:#333;text-align:left;vertical-align:top;}
.colorpicker_rgb_r {margin-top:10px;}
.colorpicker_rgb_r:before {content:"R";font-family:'Droid Serif',serif;}
.colorpicker_rgb_g {margin-top:5px;}
.colorpicker_rgb_g:before {content:"G";font-family:'Droid Serif',serif;}
.colorpicker_rgb_b {margin-top:5px;}
.colorpicker_rgb_b:before {content:"B";font-family:'Droid Serif',serif;}
.colorpicker_hsb_h {display:none;}
.colorpicker_hsb_s {display:none;}
.colorpicker_hsb_b {display:none;}
.colorpicker_submit {display:block;position:absolute;right:0;bottom:0;padding:5px 15px;width:84px;height:34px;font-size:14px;line-height:24px;color:#fff;text-align:center;background-color:#444;overflow:hidden;cursor:pointer;}