@charset "utf-8";
/*
'D2 coding'
400, 700
'Nanum Gothic'
400, 700, 800
*/
textarea {width:100%;height:200px;}

html {padding-left:320px;min-width:900px;font-family:'Nanum Gothic', sans-serif;overflow:hidden;}

#__layout {width: 100%;height: 100%;}
#__nuxt {width: 100%;height: 100%;}
#wrap {padding-top:40px;width:100%;height:100%;}

.another-input {position:absolute;left:-10000%;top:-10000%;}

.tir {position:absolute;margin:-1px;padding:0;width:1px;height:1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}
.text-right {text-align:right;}
.i18n {vertical-align:top;}
.mt {display:inline-block;vertical-align:top;}
.mt:before {display:block;}

.ui-select {position:relative;}
.ui-select .trigger {display:block;position:relative;padding:3px 24px 2px 0;font-size:16px;line-height:24px;color:#8cf;border-bottom:1px solid #8cf;}
.ui-select .trigger:after {font-family:'material-icons';content:'\e5c5';display:block;position:absolute;top:50%;right:0;margin-top:-12px;width:1em;height:1em;font-size:24px;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;}
.ui-select .trigger:active {padding:4px 24px 1px 0;}
.ui-select .trigger:active:after {margin-top:-11px;}
.ui-select .option {display:none;position:absolute;margin-top:-1px;padding:5px 0;width:100%;background-color:#fff;outline:1px solid #ddd;opacity:0;transition:200ms;-webkit-transition:200ms;}
.ui-select .option > li a {display:block;padding:5px 10px;font-size:16px;line-height:24px;color:#666;}
.ui-select .option > li a:active {padding:6px 10px 4px;}
.ui-select .option > li a small {font-size:0.875em;}
.ui-select .option > li.current a {font-weight:800;color:#333;background-color:rgba(136,204,255,.5);}
.ui-select.on {overflow:visible;z-index:10;}
.ui-select.on .option {display:block;opacity:1;}

#header {position:fixed;top:0;left:0;width:320px;height:100%;background-color:#222;z-index:100;}
#header .hgroup {padding:20px 10px 20px 20px;border-bottom:1px solid #333;}
#header .logo {font-size:20px;font-weight:400;line-height:30px;color:#fff;}
.adsense {display:none;position:absolute;left:0;bottom:0;width:100%;height:90px;background-color:#999;z-index:110;}

#nav-trigger {position:absolute;top:15px;right:10px;padding:12px 10px;width:40px;height:40px;background-color:#333;}
#nav-trigger:before {content:'';display:block;position:absolute;top:50%;left:50%;margin-top:-1px;margin-left:-10px;width:20px;height:2px;background-color:#fff;transition:transform 200ms;-webkit-transition:-webkit-transform 200ms;}
#nav-trigger:after {content:'';display:block;position:absolute;top:50%;left:50%;margin-top:-1px;margin-left:-10px;width:20px;height:2px;background-color:#fff;transition:transform 200ms;-webkit-transition:-webkit-transform 200ms;}
#nav-trigger:active {padding:13px 10px 11px;}
#nav-trigger:active:before {margin-top:0;}
#nav-trigger:active:after {margin-top:0;}
#nav-trigger span {display:block;width:20px;height:16px;border-top:2px solid #fff;border-bottom:2px solid #fff;;white-space:nowrap;text-indent:100%;overflow:hidden;transition:200ms;-webkit-transition:200ms;}

#nav {display:none;position:fixed;top:0;z-index:110;}
#nav .group {width:200px;background-color:#444;}
#nav .langs {padding:10px;}
#nav .langs dt {font-size:14px;font-weight:700;line-height:20px;color:#fff;}
#nav .util {padding:10px 0;background-color:#333;}
#nav .util a {display:block;padding:8px 0;font-size:14px;line-height:24px;color:#fff;}
#nav .util a:active {padding:9px 0 7px;}
#nav .util .mt {width:40px;font-size:24px;text-align:center;}

.nav-open #nav-trigger:before {transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.nav-open #nav-trigger:after {transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.nav-open #nav-trigger span {border-color:transparent;}
.nav-open #nav {display:block;}

#video {position:fixed;top:70px;left:0;width:320px;z-index:110;}
#video .contain {padding-bottom:35px;height:247px;border-top:1px solid #333;border-bottom:1px solid #333;}
#video .video-import {display:none;position:absolute;padding-top:70px;width:320px;height:245px;font-size:16px;line-height:24px;color:#fff;text-align:center;background-color:#222;z-index:2;}
#video .video-import:active {padding-top:71px;}
#video .video-import .mt {display:block;margin-bottom:10px;font-size:72px;color:#444;}

#player {position:relative;width:320px;height:210px;background-color:#222;}

#subtitle {padding:10px;}
#subtitle .header {position:relative;padding:0 10px;min-height:60px;font-size:14px;line-height:24px;color:#fff;background-color:#111;}
#subtitle .header dl:after {content:'';display:block;clear:both;}
#subtitle .header dd {float:left;position:relative;padding:3px 0;width:50%;height:30px;color:#666;}
#subtitle .header .current-line {width:100%;}
#subtitle .header .current-line:before {content:'Line.';}
#subtitle .header .current-end {text-align:right;}
#subtitle .header .current-start:after {content:'\e315';position:absolute;top:50%;right:-5px;margin-top:-8px;font-family:'material-icons';font-size:16px;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
#subtitle .header .current-end:before {content:'\e315';position:absolute;top:50%;left:-5px;margin-top:-8px;font-family:'material-icons';font-size:16px;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
#subtitle .util {position:absolute;top:0;right:0;}
#subtitle .util:after {content:'';display:block;clear:both;}
#subtitle .util li {float:left;}
#subtitle .util li a {display:block;padding:7px 0;width:36px;font-size:16px;line-height:16px;color:#fff;text-align:center;}
#subtitle .util li a span {border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
#subtitle .util li a:active {padding:8px 0 6px;}
#subtitle .section {display:table;padding:10px 0;width:300px;min-height:100px;border-top:1px solid #333;background-color:#111;}
#subtitle .section .current-text {display:table-cell;font-size:16px;line-height:24px;color:#666;text-align:center;vertical-align:middle;word-break:break-all;}
#subtitle.visible .header dd {color:#fff;}
#subtitle.visible .section .current-text {color:#fff;}
#subtitle.visible .current-start:after {color:#666;}
#subtitle.visible .current-end:before {color:#666;}
.overlap #subtitle {position:relative;}
.overlap #subtitle .section {position:absolute;bottom:120px;left:0;width:320px;min-height:0;border-top:0;background-color:transparent;}
.overlap #subtitle .section .current-text {display:none;padding:5px;text-shadow:0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 4px #fff;}
.overlap #subtitle.visible .section .current-text {display:block;}
.overlap #subtitle.visible .section .current-text:hover {background-color:rgba(0,0,0,.5);text-shadow:none;}
.overlap #subtitle .util li a.subtitle-visible {background-color:#333;}

.empty #video .video-import {display:block;}
.empty #subtitle .header dl {display:none;}
.empty #subtitle .header .util {display:none;}
.empty #subtitle .section {display:none;}

#controller {position:fixed;top:0;left:320px;right:0;padding:5px 85px 5px 5px;min-width:580px;height:40px;background-color:#eee;z-index:90;}
#controller:after {content:'';display:block;clear:both;}
#controller a {display:block;padding:3px 0;width:34px;height:30px;font-family:'Droid Serif';font-size:24px;font-weight:700;line-height:24px;color:#444;text-align:center;border-radius:3px;}
#controller a:active {padding:4px 0 2px;}
#controller a.disabled {color:#ccc;}
#controller a.disabled:active {padding:3px 0;}
#controller a.on {padding:1px 0;border:2px solid #8cf;background-color:#fff;}
#controller a.on:active {padding:2px 0 0;}
#controller .mt {display:inline-block;width:1em;font-size:1em;line-height:1em;}
#controller ul:after {content:'';display:block;clear:both;}
#controller ul > li {float:left;position:relative;}

#controller .ui-left {float:left;}
#controller .ui-right {float:right;}

#controller .subtitle-util {margin-right:5px;padding-right:5px;border-right:1px solid #ccc;}

#controller .ui-select {width:58px;}
#controller .ui-select a {padding:3px 5px;width:100%;font-family:'Nanum Gothic', sans-serif;font-size:16px;font-weight:400;color:#444;text-align:left;white-space:nowrap;border-radius:0;}
#controller .ui-select a:active {padding:4px 5px 2px;}
#controller .ui-select .trigger {font-weight:700;border-bottom:0;}
#controller .ui-select.on .trigger {border:0;background-color:transparent;}
#controller .ui-select .option > li {width:100%;}
#controller .ui-select .current a {font-weight:700;}

#controller .time-util a {padding:3px 5px;width:auto;white-space:nowrap;}
#controller .time-util a:active {padding:4px 5px 2px;}
#controller .time-util a span {font-family:'Nanum Gothic', sans-serif;font-size:14px;font-weight:800;line-height:24px;vertical-align:top;}
#controller .time-util a span strong {vertical-align:top;}
#controller .time-util a span small {vertical-align:top;}

#controller .history {position:absolute;top:0;right:0;padding:5px;margin-right:0;}
#controller .history:before {content:'';display:block;position:absolute;left:-1px;width:1px;height:30px;background-color:#ccc;}
#controller .history > li {width:34px;}
#controller .history .mt {width:100%;}

#font-bold span {display:block;font-size:16px;line-height:24px;}
#font-underline {text-decoration:underline;}
#font-underline span {display:block;font-size:16px;line-height:24px;}
#font-italic {font-style:italic;}
#font-italic span {display:block;font-size:16px;line-height:24px;}

.mt.icon-palette {transform:rotate(30deg);-webkit-transform:rotate(30deg);}
.on #font-color {padding:1px 0;border:2px solid #8cf;background-color: #fff;}
.on #font-color:active {padding:2px 0 0;}
#font-color-list {display:none;position:absolute;top:35px;left:-35px;padding:5px;width:148px;border-radius:3px;border:1px solid #ddd;background-color:#fff;}
#font-color-list .color-panel {float:left;width:34px;}
#font-color-list .color-panel a {padding:3px 5px;width:100%;font-size:14px;font-weight:400;text-align:left;white-space:nowrap;border-radius:3px;}
#font-color-list .color-panel a:hover {color:#;}
#font-color-list .color-panel a:active {padding:4px 5px 2px;}
#font-color-list .color-panel .color {display:block;position:static;;width:24px;height:24px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 0 1px #eee;}
#font-color-list .color-panel .hex {display:block;position:absolute;margin:-1px;padding:0;width:1px;height:1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}
.on #font-color-list {display:block;}

#controller #append-sheet {display:block;position:fixed;bottom:0;left:320px;right:0;padding:13px 0;width:auto;min-width:600px;height:auto;font-size:16px;font-weight:700;line-height:24px;background-color:#fff;border-radius:0;border-top:1px solid #e0e4e6;box-shadow:0 1px 10px rgba(0,0,0,0.1);}

.on #sheet-search {padding:1px 0;border:2px solid #8cf;background-color: #fff;}
.on #sheet-search:active {padding:2px 0 0;}
#sheet-search-panel {display:none;position:absolute;top:35px;left:-5px;padding:5px;border-radius:3px;border:1px solid #ccc;background-color:#eee;z-index:10;}
#sheet-search-panel:after {content:'';display:block;clear:both;}
#sheet-search-panel > form {margin-bottom:5px;width:245px;}
#sheet-search-panel > form:after {content:'';display:block;clear:both;}
#sheet-search-panel > form input {float:left;padding:5px;width:210px;height:30px;background-color:#fff;border-radius:3px 0 0 3px;}
#sheet-search-panel > form button {display:block;float:left;padding:3px 0;width:34px;height:30px;font-family:'Droid Serif';font-size:24px;font-weight:700;line-height:24px;color:#444;text-align:center;border-radius:0 3px 3px 0;background-color:#fff;}
#sheet-search-panel .error-label {display:block;margin:5px 0;padding:5px;font-size:14px;line-height:20px;color:#666;border-radius:3px;border:2px solid #ccc;background-color:#ccc;}
#sheet-search-panel input:checked + .error-label {color:#333;border-color:#f3b4b4;background-color:#fff;}
#sheet-search-panel .error-label i.mt {font-size:20px;}
#sheet-search-panel .btn-prev {float:left;}
#sheet-search-panel .btn-next {float:left;}
#sheet-search-panel .result {float:right;padding:5px;line-height:20px;color:#444;}
.on #sheet-search-panel  {display:block;}

/* #sheet > .sheet-head + .sheet-body(overflow:auto) > .sheet-body-scroll > .sheet-panel */
#sheet {display:flex;flex-direction:column;position:relative;width:100%;height:100%;overflow:hidden;font-size:14px;line-height:var(--sheet-line-height, 23px);background-color:#fff;}
#sheet .sheet-head {position:relative;z-index:10;flex-grow:0;flex-shrink:0;width:100%;overflow:hidden;white-space:nowrap;background-color:#fff;}
#sheet .sheet-body {position:relative;flex:1 1 auto;min-height:0;width:100%;overflow:auto;-webkit-overflow-scrolling:touch;opacity:1;}
#sheet .sheet-body-scroll {position:relative;}
#sheet .sheet-panel {box-sizing:border-box;position:relative;display:block;padding:0;width:100%;min-width:100%;background-color:#fff;z-index:2;}
#sheet .sheet-head .sheet-panel {border-top:1px solid #ddd;will-change:transform;}
#sheet .sheet-row {display:flex;align-items:stretch;width:100%;}
#sheet .col {box-sizing:border-box;flex:0 0 auto;min-height:27px;min-width:0;border-right:1px solid;border-bottom:1px solid;outline:0;}
#sheet .col:first-child {border-left:0;}
#sheet .col.index {flex:0 0 var(--sheet-col-index, 50px);text-align:right;white-space:nowrap;}
#sheet .col.start {flex:0 0 var(--sheet-col-starttime, 101px);text-align:right;}
#sheet .col.starttime {flex:0 0 var(--sheet-col-starttime, 101px);text-align:right;}
#sheet .col.end {flex:0 0 var(--sheet-col-endtime, 101px);text-align:right;}
#sheet .col.endtime {flex:0 0 var(--sheet-col-endtime, 101px);text-align:right;}
#sheet .col.dur {flex:0 0 var(--sheet-col-dur, 73px);text-align:right;}
#sheet .col.text {flex:0 0 var(--sheet-col-text, 361px);}
#sheet .col.memo {flex:1 1 auto;min-width:var(--sheet-col-memo, 361px);}
#sheet .col.search {background-color:#ffff95;}
#sheet .col.current {background-color:#cef;/*#eee*/}
#sheet .col.active {background-color:#cef;}
#sheet .sheet-row.multiple .col.current {background-color:#a3e1ff;}
#sheet .cell {padding:var(--sheet-cell-padding, 3px);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#sheet .col.index .cel; {padding-left:0;}
#sheet .sheet-head .col {padding-bottom:1px;font-weight:700;color:#444;text-align:center;border-color:transparent;border-bottom-color:#ddd;}
#sheet .sheet-head .col.index {text-align:right;}
#sheet .sheet-head .col.memo {border-right-color:#ddd;}
#sheet .sheet-body .col {border-color:#ddd;}
#sheet .sheet-trigger {position:absolute;top:-100%;left:-100%;z-index:1;}
#sheet .sheet-trigger .sheet-input {box-sizing:border-box;padding:var(--sheet-cell-padding, 3px);width:100%;border:1px solid #000;background-color:#fff;white-space:nowrap;}
#sheet .sheet-trigger .sheet-input.multi-clip {height:20px !important;}
#sheet .sheet-trigger.on {z-index:3;visibility:visible;}
#sheet .sheet-trigger.clip {visibility:visible;}
#sheet .sheet-row.multiple {background-color:#cef;}
#sheet .sheet-row.focus {outline:2px solid #444;}
#sheet .sheet-row.error {background-color:#fee;}
#sheet.smi .sheet-body-scroll,
#sheet.smi .sheet-head .sheet-panel {min-width:var(--sheet-contain-min-smi, 946px);}
#sheet.srt .sheet-body-scroll,
#sheet.srt .sheet-head .sheet-panel {min-width:var(--sheet-contain-min-srt, 1051px);}
#sheet.srt .cell {white-space:pre-wrap;}
#sheet .memo .cell {display:-webkit-box;word-wrap:break-word;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
#sheet .memo.current {position:relative;}
#sheet .memo.current .cell {display:block;position:absolute;width:100%;max-height:9999999999px !important;background-color:#cef;}
#sheet .sheet-row.multiple .memo.current .cell {background-color:#a3e1ff;}

#layout {display:none;position:fixed;top:0;left:0;width:100%;height:100%;overflow:hidden;z-index:2000;}
#layout.on {display:block;}
#layout .overlay {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.5;z-index:1;}
#layout .panel {position:absolute;top:40px;left:340px;width:540px;z-index:2;}
#layout .dialog {display:none;position:relative;padding-top:50px;max-height:100%;background-color:#fff;box-shadow:0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.15), 0 3px 1px -2px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.15), 0 3px 1px -2px rgba(0,0,0,0.15);}
#layout .dialog.on {display:block;}
#layout .dialog-head {position:absolute;top:0;left:0;padding-right:50px;width:100%;font-size:16px;font-weight:700;line-height:24px;color:#fff;text-transform:capitalize;background-color:#222;}
#layout .dialog-head .title {padding:13px 0 13px 50px;}
#layout .dialog-head .title .mt {display:block;position:absolute;top:0;left:0;width:50px;height:50px;padding:13px 0;font-size:24px;line-height:1;color:#8cf;text-align:center;}
#layout .dialog-head .btn-close {display:block;position:absolute;top:0;right:0;padding:13px;width:50px;height:50px;font-size:24px;line-height:1;color:#fff;}
#layout .dialog-head .btn-close .mt {width:1em;}
#layout .dialog-body {height:100%;}
#layout .dialog-body .contain {padding:20px;max-height:340px;overflow:auto;}
#layout .dialog-body .contain:after {content:'';display:block;clear:both;}

#subtitle-import {}
#subtitle-import #subtitle-text {height:150px;font-family:'Nanum Gothic', sans-serif;}
#subtitle-import .ui-select {position:absolute;top:10px;right:20px;width:150px;}
#subtitle-import .ui-select .trigger {padding-left:5px;height:30px;color:#444;border-bottom-color:#ddd;}

#subtitle-export {}
#subtitle-export .entry > li {margin-top:10px;}
#subtitle-export .entry > li:first-child {margin-top:0;}
#subtitle-export .entry .i-title {display:block;margin-bottom:5px;font-size:16px;font-weight:700;line-height:24px;color:#666;text-transform:capitalize;}
#subtitle-export .entry .signature {height:150px;}
#subtitle-export .ui-select {position:absolute;top:10px;right:20px;width:150px;}
#subtitle-export .ui-select .trigger {padding-left:5px;height:30px;color:#444;border-bottom-color:#ddd;}

#time-editor {font-size:14px;line-height:24px;}
#time-editor .contain {position:relative;}
#time-editor .time-slider {position:absolute;top:20px;right:20px;padding-left:20px;width:340px;height:162px;border-left:1px solid #eee;}
#time-editor .time-slider dt {font-weight:700;}
#time-editor .time-slider dd {position:relative;margin:4px 0 8px;padding:0 8px;background-color:#eee;}
#time-editor .time-slider dd:before {content:'';display:block;position:absolute;top:0;left:0;width:10px;height:4px;background-color:#5ae;}
#time-editor .time-slider .slider {position:relative;height:4px;background-color:#eee;border:0;}
#time-editor .time-slider .slider .ui-slider-handle {position:absolute;top:50%;margin:-10px 0 0 -10px;width:20px;height:20px;border-radius:50%;border:2px solid #ccc;background-color:#fff;z-index:2;}
#time-editor .time-slider .slider .ui-slider-handle.ui-state-active {border-color:#5ae;}
#time-editor .time-slider .slider .ui-slider-range {position:absolute;top:0;height:100%;background-color:#5ae;z-index:1;}

#time-editor .time-positive:after {content:'';display:block;clear:both;}
#time-editor .time-positive dt {display:none;}
#time-editor .time-positive dd:after {content:'';display:block;clear:both;}
#time-editor .time-positive .radio-label {display:block;float:left;margin-right:10px;vertical-align:top;}
#time-editor .time-positive .radio-label:last-child {margin-right:0;}
#time-editor .time-positive .radio-label input[type="radio"] {position:absolute;z-index:1;}
#time-editor .time-positive .radio-label span {display:block;position:relative;padding:5px 0;width:65px;text-align:center;background-color:#eee;border-radius:3px;z-index:2;}
#time-editor .time-positive .radio-label input[type="radio"]:focus + span {border-color:#5ae !important;}
#time-editor .time-positive .radio-label input[type="radio"]:checked + span {font-weight:700;line-height:20px;background-color:#fff;border:2px solid #ccc;}

#time-editor .time-form {width:140px;text-align:right;}
#time-editor .time-form dd {margin:15px 0;}
#time-editor .time-part:after {content:'';display:block;clear:both;}
#time-editor .time-part > li {float:left;position:relative;padding-right:10px;}
#time-editor .time-part > li:after {content:':';position:absolute;top:0;right:0;width:10px;text-align:center;}
#time-editor .time-part > li:last-child {padding-right:0;}
#time-editor .time-part > li:last-child:after {display:none;}
#time-editor .time-part > li:nth-last-child(2):after {content:',';}
#time-editor .time-part input {display:block;width:25px;height:25px;font-size:16px;line-height:24px;text-align:center;border-bottom:1px solid #ccc;}
#time-editor .time-part span {position:absolute;top:0;left:0;width:25px;font-size:16px;line-height:24px;text-align:center;white-space:nowrap;border-bottom:1px solid #ccc;background-color:#fff;z-index:2;}
#time-editor .time-part > li:last-child input,
#time-editor .time-part > li:last-child span {width:35px;}
#time-editor .time-part input:focus + span {display:none;}
#time-editor #millisecond {float:left;width:110px;height:25px;font-size:16px;line-height:24px;text-align:right;border-bottom:1px solid #ccc;}

#color-selector .dialog-body .contain {position:relative;padding-left:0;font-family:'Droid Serif';}
#color-selector .color-list {float:left;width:129px;z-index:10;}
#color-selector .color-list > .color-panel:first-child {margin-top:0;}
#color-selector .color-list > .color-panel a {display:block;position:relative;padding:6px 0 6px 50px;height:32px;font-size:14px;line-height:20px;letter-spacing:-0.05em;color:#333;}
#color-selector .color-list > .color-panel .color {display:block;position:absolute;top:4px;left:20px;width:24px;height:24px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 0 1px #eee;}
#color-selector .color-list > .color-panel.current a {color:#fff;background-color:#444;}
#color-selector .color-list > .color-panel.current .color {box-shadow:none;}
#color-selector .picker {float:left;}

#cs-setting .btn-change {display:inline-block;margin-left:10px;padding:2px 5px;font-size:12px;font-weight:400;line-height:18px;color:#666;vertical-align:top;border-radius:3px;border:1px solid #ddd;}
#cs-setting .btn-change.on {color:#fff;border-color:#52aaff;background-color:#52aaff;}
#default-settings .config-list:after {content:'';display:block;clear:both;}
#default-settings .config-list {margin-top:-10px;margin-left:-10px;margin-right:-10px;}
#default-settings .config-list > li {float:left;padding:10px;width:50%;}
#default-settings .config-list > li.full {width:100%;}
#default-settings dt {font-size:14px;font-weight:700;line-height:24px;color:#666;text-transform:capitalize;}
#default-settings dd {height:30px;color:#333;}
#default-settings .ui-select {position:absolute;width:240px;}
#default-settings .ui-select .trigger {font-weight:700;color:#444;border-color:#ddd;}
#default-settings .ms-jump-label:after {content:'';display:block;clear:both;}
#default-settings .ms-jump-label .i-text {float:left;margin-right:5px;padding:6px 0 0;width:70px;height:30px;font-size:14px;line-height:24px;text-align:right;border:0;border-bottom:1px solid #ddd;}
#default-settings .ms-jump-label > span {display:block;float:left;padding-top:6px;height:30px;font-size:14px;font-weight:700;line-height:24px;}

#shortkey-settings .btn-cancel {display:none;margin-left:5px;padding:2px 5px;font-size:12px;font-weight:400;line-height:18px;color:#fff;vertical-align:top;border-radius:3px;border:1px solid transparent;background-color:#666;}
#shortkey-settings:after {content:'';display:block;clear:both;}
#shortkey-settings .key-panel {float:left;margin-right:20px;width:240px;}
#shortkey-settings .key-panel:nth-child(2n) {margin-right:0;}
#shortkey-settings .data-title {height:30px;color:#666;}
#shortkey-settings .key-list {padding:5px 10px;height:200px;overflow:auto;border:1px solid #ddd;}
#shortkey-settings .key-list li {position:relative;padding:5px 0;border-bottom:1px solid #ddd;}
#shortkey-settings .key-list li:last-child {border-bottom:0;}
#shortkey-settings dt {font-size:14px;font-weight:700;line-height:24px;color:#666;text-transform:capitalize;}
#shortkey-settings dd {height:30px;color:#333;}
#shortkey-settings kbd {display:inline-block;position:relative;top:3px;padding:3px 5px;font-family:'Droid Serif',serif;font-size:12px;line-height:18px;color:#fff;letter-spacing:1px;text-transform:capitalize;vertical-align:middle;border-radius:3px;background-color:#444;}
#shortkey-settings .i-text {display:none;}
#shortkey-settings .on kbd {display:none;}
#shortkey-settings .on .i-text {display:block;position:absolute;bottom:-1px;padding:0;height:30px;color:#444;border:0;border-bottom:1px solid #52aaff;}
#shortkey-settings .on .btn-cancel {display:inline-block;}

#about-site li {position:relative;margin-top:5px;padding-left:20px;font-size:14px;line-height:24px;color:#666;}
#about-site li:first-child {margin-top:0;}
#about-site li:before {content:'';display:block;position:absolute;top:12px;left:0;margin-top:-5px;width:6px;height:6px;border-radius:50%;border:2px solid #666;}
#about-site li strong {color:#444;}

#about-site dl {margin-top:20px;padding:20px;background-color:#eee;}
#about-site dt {display:inline;font-family:'Droid Serif',serif;font-size:14px;line-height:24px;color:#333;}
#about-site dt:after {content:'. ';}
#about-site dd {display:inline;margin-top:5px;font-size:14px;line-height:22px;color:#666;}
#about-site dd:after {content:'';display:block;}
#about-site dd a {color:#666;text-transform:lowercase;border-bottom:1px solid #999;}

.ui-tab {position:relative;padding-top:49px;}
.ui-tab .tab-header {position:absolute;top:0;left:0;width:100%;}
.ui-tab .tab-header:after {content:'';display:block;clear:both;}
.ui-tab .tab-header > li {float:left;}
.ui-tab .tab-header a {display:block;position:relative;}
.ui-tab .tab-header a span {display:block;padding:15px 20px;font-size:14px;font-weight:700;line-height:20px;color:#999;text-transform:uppercase;}
.ui-tab .tab-header .on a span {color:#52aaff;}
.ui-tab .tab-header .on a:after {content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#52aaff;}
.ui-tab .tab-body {border-top:1px solid #ddd;}
.ui-tab .tab-panel {display:none;}
.ui-tab .tab-panel.on {display:block;}

.i-text {display:block;padding:5px 10px;width:100%;height:34px;line-height:24px;color:#444;border:1px solid #ddd;}
.i-text:focus {border-color:#52aaff;}
.i-text .i-placeholder {display:none;}
.i-text .i-filename {display:block;text-transform:none;white-space:nowrap;overflow:hidden;}
.i-text.empty {color:#999;}
.i-text.empty .i-placeholder {display:block;}
.i-text.empty .i-filename {display:none;}

.i-checkbox {font-size:14px;font-weight:700;line-height:24px;}
.i-checkbox span {color:#666;}
.i-checkbox span:before {content:'\e835';display:inline;margin-right:5px;font-size:24px;vertical-align:top;}
.i-checkbox input:checked + span:before {content:'\e834';color:#52aaff;}

.btn-group {margin-top:10px;}
.btn-group.center {text-align:center;}
.btn-group .btn {display:inline-block;padding:5px 15px;height:34px;font-size:14px;line-height:24px;color:#fff;background-color:#444;}

.colorpicker * {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.colorpicker {display:none;width:390px;}
.colorpicker:after {content:'';display:block;clear:both;}
.colorpicker_color {position:relative;float:left;margin-right:4px;width:257px;height:257px;background:#f00;overflow:hidden;cursor:move;border:1px solid #ccc;/* box-shadow:0 0 0 1px #000; */}
.colorpicker_color > div {position:absolute;top:0;left:0;width:100%;height:100%;background-image:url(../images/colorpicker_overlay.png);background-position:0 0;background-size:100% 100%;background-repeat:no-repeat;}
.colorpicker_color > div > div {position:absolute;top:0;left:0;margin:-17px 0 0 -17px;width:34px;height:34px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 2px #000;}
.colorpicker_hue {position:relative;float:left;margin-right:10px;width:30px;height:257px;border:1px solid #ccc;background-color:#f00;background-image:url(../images/slider.png);background-repeat:no-repeat;background-size:100% 100%;background-position:center center;overflow:hidden;cursor:n-resize;/* box-shadow:0 0 0 1px #000; */}
.colorpicker_hue div {position:absolute;left:50%;margin:-13px 0 0 -13px;width:26px;height:26px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 2px #000;}
.colorpicker_new_color {float:left;margin-right:4px;width:42px;height:35px;border:1px solid #ccc;}
.colorpicker_current_color {float:left;width:42px;height:35px;border:1px solid #ccc;}
.colorpicker input {width:70px;height:30px;font-size:16px;line-height:24px;letter-spacing:-0.05em;text-align:center;text-transform:uppercase;border:1px solid #ccc;-webkit-user-select:auto;-khtml-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto;}
.colorpicker_hex {float:left;margin-top:10px;width:88px;}
.colorpicker_hex:before {content:"#";display:inline-block;padding:4px 0 2px;width:18px;font-size:16px;line-height:24px;color:#333;text-align:left;vertical-align:top;}
.colorpicker_hex input {width:70px;height:30px;text-align:center;vertical-align:middle;}
.colorpicker_field {display:block;float:left;}
.colorpicker_field:before {display:inline-block;padding:4px 0 2px;width:18px;font-size:16px;line-height:24px;color:#333;text-align:left;vertical-align:top;}
.colorpicker_rgb_r {margin-top:10px;}
.colorpicker_rgb_r:before {content:"R";font-family:'Droid Serif',serif;}
.colorpicker_rgb_g {margin-top:5px;}
.colorpicker_rgb_g:before {content:"G";font-family:'Droid Serif',serif;}
.colorpicker_rgb_b {margin-top:5px;}
.colorpicker_rgb_b:before {content:"B";font-family:'Droid Serif',serif;}
.colorpicker_hsb_h {display:none;}
.colorpicker_hsb_s {display:none;}
.colorpicker_hsb_b {display:none;}
.colorpicker_submit {display:block;position:absolute;right:0;bottom:0;padding:5px 15px;width:88px;height:34px;font-size:14px;line-height:24px;color:#fff;text-align:center;background-color:#444;overflow:hidden;cursor:pointer;}

.cf-wrap {position:absolute;top:0;left:0;width:100%;height:100%;z-index:9999;}
.cf-wrap .cf-overlay {position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,.7);z-index:0;}
.cf-box {position:absolute;top:50px;left:50%;margin-left:-150px;width:300px;box-shadow:0 2px 6px rgba(0, 0, 0, 0.2);background-color:#fff;}
.cf-title {padding:13px 20px;font-size:18px;font-weight:700;color:#fff;background-color:#222;}
.cf-content {padding:20px;font-size:14px;line-height:20px;color:#333;}
.cf-btns {padding:0 20px 20px;text-align:right;}
.cf-btns button {display:inline-block;padding:5px 15px;height:34px;font-size:14px;line-height:24px;}
.cf-btns .btn-success {margin-right:5px;background-color:#444;color:#fff;}
.cf-btns .btn-cancel:hover {background-color:#ededed;}

#toast-container {width:300px;top:20px;left:50%;margin-left:-150px;position:fixed;z-index:9999;}
.toast {padding:10px 15px;margin-bottom:8px;color:#fff;text-align:center;word-break:keep-all;border: 1px solid rgba(0,0,0,.2);border-radius:4px;}
.toast:hover {cursor: pointer;box-shadow:#666 0 0 8px;}
.toast-title {font-weight:700;}
.toast-message {}
.toast-success {background-color:#3498db;}
.toast-error {background-color:#e74c3c;}
.toast-info {background-color:#333;}
.toast-warning {background-color:#f1c40f;}

.adsbygoogle {position:absolute;bottom:0;left:0;width: 320px !important;/* z-index:100; */}

@media (min-height:620px){
	.adsbygoogle {z-index:100;}
}